@import "tailwindcss";
:root {
  --bg-canvas: #f6f7fb;
  --node-white: rgba(255,255,255,0.7);
  --node-border: #e5e7eb;

  --pastel-blue: #c7d2fe;
  --pastel-purple: #e9d5ff;
  --pastel-pink: #fbcfe8;
  --pastel-green: #bbf7d0;
  --pastel-yellow: #fef9c3;
}
.toolbar-btn {
  width: 34px;
  height: 34px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255,255,255,0.6);
  border: 1px solid #e5e7eb;
  transition: 0.15s;
}

.toolbar-btn:hover {
  background: rgba(255,255,255,0.9);
  transform: scale(1.05);
}

.toolbar-pop {
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border-radius: 14px;
  box-shadow: 0 12px 25px rgba(0,0,0,0.08);
  padding: 8px;
  display: flex;
  gap: 8px;
  z-index: 60;
}
